<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th>Действие</th>
        </tr>
        <tr th:each="users : ${user}">
            <td th:utext="${users.getId()}">name</td>
            <td th:utext="${users.getUsername()}">username</td>
            <td th:utext="${users.getPassword}">password</td>
            <td th:utext="${users.getRoles()}">roles</td>
            <td>
                <a th:href="@{admin/update/{id} (id=${users.id})}">Изменить</a>
                <a th:href="@{admin/delete/{id} (id=${users.id})}">Удалить</a>

            </td>
        </tr>
    </table>
</div>
<a href="/admin/new">Добавить пользователя</a>
<br>
<a href="/logout">Выйти</a>
</body>
</html>