<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="password">Введите пароль</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">Введите роль</label>
    <input type="text" th:field="*{roles}" id="roles"/>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>