<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update player</title>
</head>
<body>

<form th:method="POST" th:action="@{/update/{id} (id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="password">Введите пароль</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Обновить пользователя"/>

</form>
</body>
</html>